@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
img {
    max-width: 100%;
}
h1, h2 {
    margin-bottom: 15px;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    height: 90px;
    background-color:#ed3333;
}
.navbar .logo {
    height: 40px;
    width: 40px;
    margin-bottom: 25px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.navbar a {
    text-decoration: none;
    color: #333;
}

.navbar a:hover {
    color: white;
}

.header {
    background-color: #ffafaf;
    min-height: 400px;
    color: white;
}
.header h1 {
    font-size: 1.2;
}
.header img {
    max-width: 400px;
    padding: 20px;
    height: 400px;
}
.header .container {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}
.header button {
    border-radius: 20px;
    background-color: #ed3333;
    color: white;
    border-style: none;
    padding: 10px;
    text-decoration: underline;
    display: flex;
    margin-top: 50px;
}
.boxes .container{
    display: flex;
    justify-content: space-between;
}


.boxes img {
    width: 400px;
    height: 300px;
    object-fit: scale-down;
}
.boxes h2 {
    display: flex;
    justify-content: center;
}
.box {
    flex: 1;
    border-radius: 10px;
    background-color: #ff8989;
    margin: 20px 10px;
    padding: 15px 20px;
}

.tifosi {
    background-color:#ed3333;

}
.tifosi .container {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    gap: 18px;
}
.tifosi p {
    margin-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 250px;
}
.tifosi h2 {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}